<div class="modal">
  <form class="modal__content" method="{{method}}" action="{{action}}">
    <h2 class="modal__title">{{title}}</h2>

    {{#if isAvatar}}
    <label for="{{inputId}}" class="modal__text">{{labelText}}</label>

    <input
      type="file"
      id="{{inputId}}"
      name="{{inputName}}"
      class="visually-hidden"
    />
    {{/if}}

    {{#if isInput}}
    {{{inputItem}}}
    {{/if}}


    <button type="submit" class="modal__close-button" aria-label="{{submitText}}">
      {{submitText}}
    </button>
  </form>
</div>

