<div class="main-page__wrapper">
    <div class="main-page__sidebar">
        {{{customLink}}}
        {{{search}}}
        {{{chatList}}}
    </div>
    <div class="main-page__chosen-chat">
        {{{chatMenu}}}
        {{{messageList}}}
        {{{messageQuill}}}
    </div>
</div>


