<li class='chat-item {{className}}'>
  <div class='chat-item__avatar'>
  </div>
  <div class='chat-item__body'>
    <div class='chat-item__top'>
      <span class='chat-item__name'>{{name}}</span>
      <span class='chat-item__time'>{{time}}</span>
    </div>
    <div class='chat-item__message'>
      {{message}}
    </div>
  </div>

  {{#if unreadCount}}
    <div class='chat-item__badge'>
      {{unreadCount}}
    </div>
  {{/if}}
</li>
