
<div class="input-item">
  <label>
    {{title}}
    <input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}"/>
  </label>
  {{#if error}}
    <span class="input-item_error">{{error}}</span>
  {{/if}}
</div>
