<div class="profile-info {{className}}">
  <div class="profile-info__avatar-wrapper">
    <div class="profile-info__avatar" data-action="open-avatar-modal">
      <div class="profile-info__avatar-container">
        <img
          src="{{avatar.iconSrc}}"
          alt="{{avatar.iconAlt}}"
          width="{{avatar.iconW}}"
          height="{{avatar.iconH}}"
        />
      </div>
      <span>{{avatar.changeText}}</span>
    </div>
    <div class="profile-info__name">{{name}}</div>
  </div>
  {{{infoFields}}}
</div>
