<label>
  {{title}}
  <input class="{{#if error}}input-item__error-input{{/if}}" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" value="{{value}}"/>
</label>
{{#if error}}
  <span class="input-item__error">{{error}}</span>
{{/if}}
