
<div class="input-item {{className}}">
  <label>
    {{title}}
    <input class="{{#if error}}input-item__error-input{{/if}}" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}"/>
  </label>
  {{#if error}}
    <span class="input-item__error">{{error}}</span>
  {{/if}}
</div>
