 {{#if (eq variant "primary")}}
    <button
        class="custom-button {{className}}
        {{#if color}} custom-button--color-{{color}}{{/if}}"
        type="{{type}}">
        {{text}}
    </button>
{{/if}}

 {{#if (eq variant "link")}}
    <a
        class="custom-button custom-button--link
        {{#if color}} custom-button--color-{{color}}{{/if}}"
        type="{{type}}"
        href={{href}}>
        {{text}}
    </a>
{{/if}}
