<div class="profile-info">
  <div class="profile-info__avatar-wrapper">
    <div class="profile-info__avatar" onclick="openModal()">
      <div class="profile-info__avatar-container">
        <img src="/avatar-replacement-icon.svg" alt="Заменить аватар" width="40" height="40"></img>
      </div>
      <span>Поменять<br />аватар</span>
    </div>
    <div class="profile-info__name">{{name}}</div>
  </div>

 {{#if (eq mode "view")}}
    <dl class="profile-info__info">
      {{#each fields}}
        <div class="profile-info__row">
          <dt class="profile-info__label">{{label}}</dt>
          <dd class="profile-info__value">{{value}}</dd>
        </div>
      {{/each}}
    </dl>

    <div class="profile-info__actions">
      {{> customButton text="Изменить данные" type="button" variant="link" color="blue" href="profile/edit-credentials"}}
      {{> customButton text="Изменить пароль" type="button" variant="link" color="blue" href="profile/edit-pass"}}
      {{> customButton text="Выйти" type="button" variant="link" color="red" href="/" }}
    </div>
  {{/if}}

  {{#if (eq mode "edit")}}
    <form class="profile-info__form">
      <div>
        {{#each fields}}
          <div class="profile-info__row">
            <label class="profile-info__label" for="{{name}}">{{label}}</label>
            <input class="profile-info__input" id={{name}} name="{{name}}" value="{{value}}" placeholder="{{placeholder}}" />
          </div>
        {{/each}}
      </div>
      <div class="profile-info__submit">
        {{> customButton text="Сохранить" type="submit" variant="primary" color="blue" }}
      </div>
    </form>
  {{/if}}

{{> modalItem}}
</div>
